/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 User Experience Adjustments
        1.3 Core Styling
    2. LAYOUT
    3. MODULES
    4. STATES
    5. UTILITIES
    6. PRINT
    7. MISC

    ========================================================================== */
/* ==========================================================================
    1. BASE
    ========================================================================== */
/* 1.1 Page Rendering Defaults */
/* 1.2 User Experience Adjustments */
/* * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 * Customize the background color to match your design. */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  /* A better looking default horizontal rule */
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  /* https://github.com/h5bp/html5-boilerplate/issues/440 */
  vertical-align: middle;
}

fieldset {
  /* Remove default fieldset styles. */
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  /* Allow only vertical resizing of textareas. */
  resize: vertical;
}

/* 1.3 Core Styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
}
p {
  font-size: 13px;
}

h3 {
  font-size: larger;
  font-weight: bold;
}

p {
  color: gray;
}
.section_title h3 {
  font-size: 30px;
  position: relative;
  margin: 2%;
}
/* ==========================================================================
 2. LAYOUT
 ========================================================================== */
/* Header */
#main {
   margin: 0 auto;
   padding: 2rem;
   background-color: rgb(255 255 255);
}

@media screen and (max-width: 39.9375em) {
   #main {
      max-width: 20rem;
      margin: 0 auto;
      display: grid;
   }
  .nav_item {
    display: none;
  }
  .logo_img {
    display: none;
  }
  .banner {
    display: none;
  }
  .websol_box,
  .photo_box,
  .webdev_box,
  .webdes_box {
    display: flex;
    align-items: center;
    max-width: 20rem;
  }
  
  .section_text {
     display: flex;
   flex-direction: column;
   padding: 1rem;
  }
  .section_image {
     width:5rem;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .logo_img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    padding-left: 1rem;
  }
  .logo_header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .row {
    width: 85vw;
    max-width: 70rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    left: 10%;
  }
  .nav_item {
    display: block;
    position: relative;
    padding: 4rem 1rem 0rem 0.5rem;
    line-height: 2rem;
    font-size: 0.6rem;
    text-align: left;
    padding-left: 3%;
    background-color: rgb(184, 184, 184);
    background-position-x: center;
    background-position-y: center;
    background-size: 2.3rem, 2rem;
    width: 100%;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
  }
  .nav_item::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 1rem;
  }

  .nav_item.active::after {
    content: "";
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-col-1 {
      grid-template-columns: 1fr;
    }
    .m-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .m-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .m-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
/* Large and up */
@media screen and (min-width: 64em) {
  .l-col-1 {
    grid-template-columns: 1fr;
  }
  .l--col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .l--col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .l-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .l-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .l-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .l-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* ==========================================================================
 3. MODULES
 ========================================================================== */
.nav_item:nth-child(1) {
  background-color: #25c389;
  background-image: url(../img/circle.svg), url(../img/house-user.svg);
}
.nav_item:nth-child(2) {
  background-color: #ffb901;
  background-image: url(../img/circle.svg), url(../img/network-wired.svg);
}
.nav_item:nth-child(3) {
  background-color: #de6262;
  background-image: url(../img/circle.svg), url(../img/bullhorn.svg);
}
.nav_item:nth-child(4) {
  background-color: #1691bd;
  background-image: url(../img/circle.svg), url(../img/briefcase.svg);
}
.nav_item:nth-child(5) {
  background-color: #166ba2;
  background-image: url(../img/circle.svg), url(../img/envelope.svg);
}
/* ==========================================================================
 4. STATES
 ========================================================================== */
/* /* ==========================================================================
 5. UTILITIES
 ========================================================================== */
/* * Hide visually and from screen readers */
.hidden {
  display: none !important;
}

/* * Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* * Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/* * Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/* * Clearfix: contain floats
* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* Accordions */
.accordion {
  background-color: #ffffff;
  color: #656565;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 0.6s;
  border: 1px solid #cbcbcb;
}

.active,
.accordion:hover {
  background-color: #19b2de;
  color: #fefff0;
}

.panel {
  padding: 0 5%;
  background-color: white;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  position: relative;
  display: none;
}

.panel_text p,
.panel_text h2 {
  text-align: left;
}
/* ==========================================================================
 6. PRINT
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;

    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
 6. MISC
 ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
